body {
    font-family: 'Mulish', sans-serif;
    background: url("./resourses/fondo\ provisorio.png") center fixed;
    background-size: cover;
}


img {
    width: 300px;
}

ul {
    list-style-type: none;
}