/* ----- PALETA DE COLORES FINAL ----- 

#ED6877
#7D3B54
#A67A49
#03B9F3
#42403C
#325BBC
#F8F8F8
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #42403C;
}

img {
    width: 400px;
}

ul {
    list-style-type: none;
}

.flex-container {
    display: flex;
}

/* color set */

.button-direct, .motivational-quote, footer {
    background-color: #7D3B54;
}

.knowledge-section, .contact-section {
    background-color: #fff4f5;
}

h2 {
    color: #7D3B54;
}

header, .presentation, .projects-section {
    background-color: white;
}
/* ---------------------------------------- HEADER STRUCTURE --------------------------------- */

.header-container {
    justify-content: flex-end;
    width: 100%;
    height: 80px;
    box-shadow: #bd2f6535 0px 10px 6px -1px, #b1326325 0px 2px 4px -1px;
    position: sticky;
    z-index: 5;
    top: 0;
}

.nav-container {
    align-items: center;
    margin-right: 15%;
}

.nav-bar {
    justify-content: flex-end;

}

li {
    margin: 15px 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-bar  li  a , .contact-bar-column  li  a {
    padding: 15px 15px;
    border-radius: 35px;
}

.contact-bar-column > li > a {
    padding-left: 4px;
}

.button-direct {
    width: fit-content;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    text-align: center;
    transition: background-color 0.3s;
}

.fa-bars {
    display: none;
}


/* --------------------------------- PRESENTATION STRUCTURE ------------------------- */

.presentation-section {
    justify-content: center;
    align-items: center;
    padding: 100px 0px 150px;
    width: 100%; 
}

.presentation-container {
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    width: 80%;
}

.text-presentation {
    width: 500px;
}

h1 {
    margin: 0;
    font-size: 70px;
    font-weight: 900;
    color: #ED6877;
}

h3 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
}

p {
    margin: 0;
}

.description-text {
    margin-bottom: 40px;
    font-size: 20px;
}

.image-presentation {
    width: 400px;
    justify-content: center;
}


/* ----------------------------------- KNOWLEDGE STRUCTURE --------------------------- */

.knowledge-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 130px 0;
}

h2 {
    font-size: 60px;
    font-weight: 900;
    
}

.section-description {
    text-align: center;
    font-size: 20px;
    margin: 50px 0;
}

.knowledge-cards {
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
}

.language-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 225px;
    margin: 10px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #f8cfcc ;
    transition: border-color 0.2s;

}

h4 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px
}

article .fa-brands {
    font-size: 90px;
}

.fa-html5 {
    color: #E54D26;
}

.fa-css3-alt {
    color: #3D8FC6;
}

.fa-sass {
    color: #CC6699;
}

.fa-square-js {
    color: #F0DB4F
}

.fa-react {
    color: #61DAFB;
}

.fa-git-alt {
    color: #F34F29;
}




/* --------------------------- MOTIVATIONAL STRUCTURE ---------------------- */

.motivational-quote {
    text-align: center;
    color: #f4f1f1;
    padding: 100px 0;
}

.motivational-quote > i {
    font-size: 110px;
}

#luffy-quote {
    font-size: 25px;
    margin: 70px;
}


/* ------------------------------- PROJECTS STRUCTURE ------------------------ */

.projects-section {
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}


.projects-cards {
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}


.projects-cards a {
    text-align: center;
    padding: 17px;
    width: 330px;
    margin: 1%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #f8cfcc ;
    font-size: 20px;
}

a img {
    width: 100%;
    margin-bottom: 10px;
}

figcaption {
    margin: 10px;
}



/* ------------------------------- CONTACT STRUCTURE -------------------------- */

.contact-section {
    justify-content: center;
    padding: 100px 30px;
    width: 100%;
}

.contact-card {
    border-radius: 15px;
    background-color: white;
    width: 1100px;
    padding: 60px;
    border: 1px solid #f8cfcc ;
}

.social-media, .form-contact {
    width: 50%;
    padding: 10px;
}

.contact-description {
    font-size: 20px;
    margin: 40px 0;
    padding: 10px;
}

.contact-bar-column li {
    font-size: 17px;
    margin: 20px 10px;
}

a i {
    font-size: 23px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid white;
    color: #7D3B54;
    margin-right: 7px;
    transition: background-color 0.2s;
}

.fa-instagram, .fa-linkedin {
    padding: 10px 12px ;
}

form div, form {
    width: 100%;

}

form {
    flex-direction: column;
}

input {
    height: 40px;
    width: 100%;
}

input, textarea, button {
    border-radius: 20px;
    font-size: 17px;
    border: none;
    background-color: #f5a9b257;
    padding: 15px 20px;
    margin: 10px 0;
}

::placeholder {
    font-size: 15px;
    color: #f47180;
}

h2 {
    margin-bottom: 20px;
}

label {
    font-weight: 700;
}

.nameLastname {
    width: 50%;
}

.nam1 {
    margin-right: 20px;
}

textarea {
    resize: none;
    width: 100%;
    height: 150px;
}

.button-send {
    width: 120px;
}

input, label {
    font-size: 18px;
}


/* --------------------------------------- FOOTER STRUCTURE --------------------------------- */

footer {
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 40px;
}

.contact-bar {
    justify-content: center;
    margin: 20px 0;
}

.contact-bar li {
    margin: 0 5px;
}

/* ---------------------------------------- USER INTERACTION ---------------------------------- */

/* HOVER */

.button-direct:hover {
    background-color: #ED6877;

}

.contact-bar-column li:hover a, .language-card:hover, .project-card:hover, .nav-bar li:not(.button-direct):hover {
    color: #ED6877;
}

.language-card:hover, .project-card:hover {
    border-color: #ED6877;
}

li:hover i{
    color: white;
    background-color: #7D3B54 ;
}

.contact-bar-column li:hover i {
    background-color: #ED6877;
}

/* FOCUS */

.is-focus:focus {
    box-shadow: -1px 0px 8px 1px #ED6877;
    outline: none; 
}

.nav-bot li a:focus {
    box-shadow: -1px 0px 7px 1px white
}

/* ---------------------- MEDIA RESPONSIVE -------------------- */


@media (max-width: 1245px) {


    .projects-cards {
        width: 100%;
    }
}

/* --- 1100px --- */

@media (max-width: 1100px) {

    .presentation {
        width: 100%;
    }
    
    .presentation-container {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .button-projects {
        display: flex;
        justify-content: center;
    }

    .image-presentation {
        margin-top: 40px;
    }

    .projects-cards > a {
        width: 30%;
    }

}

/* --- 900px --- */

@media (max-width: 900px) {

    .projects-cards > a {
        width: 40%;
    }

    .contact-section {
        padding: 0;
    }
    
    .contact-card {
        border-radius: 0px;
        border: none;
        flex-direction: column;
        padding: 150px 30px;
    }

    .contact-card > div {
        width: 100%;
    }

    .contact-description {
        width: 50%;
        margin: 10px 0;
    }

    .contact-bar-column {
        display: flex;
        flex-wrap: wrap;
        padding-left: 7px;
        justify-content: space-between;
    }

    .contact-bar-column > li {
        width: 45%;
        padding: 0;
    }

    .social-media {
        margin-bottom: 50px;
    }
}

/* --- 920px --- */

@media (max-width: 920px) {

    .knowledge-cards {
        width: 100%;
    }
}

/* --- 830px --- */

@media (max-width: 830px) {

    .nav-top {
        display: none;
    }

    .nav-container {
        margin-right: 10%;
    }

    .fa-bars {
        display: block;
        font-size: 2em;
    }
}

@media (max-width: 610px){
    
    .contact-bar-column {
        flex-direction: column;
    }
    
    .contact-bar-column > li {
        width: 100%;
    } 
}


/* ---580px --- */

@media (max-width: 580px) {

    .knowledge-cards {
        padding: 10px;
    }

    .language-card {
        width: 45%;
    }

    .fa-brands:not(a > i):not(li > i) {
        font-size: 4em;
    }

    .language-card {
        height: 180px;
        margin: 8px;
    }

    h4 {
        font-size: 18px;
    }
    
} 

/* --- 550px --- */

@media (max-width: 550px) {

    h1 {
        font-size: 50px;
    }

    .text-presentation {
        margin-bottom: 30px;
        width: 80%;
    }

    .image-presentation {
        width: 85%;
    }

    img {
        width: 80%;
    }

    h2 {
        font-size: 55px;
    }
    
    .nav-bot {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .projects-cards > a {
        width: 90%;
    }

}

/* --- 500px --- */

@media (max-width: 500px) {
    #luffy-quote {
        font-size: 20px;
    }

    form > div {
        flex-direction: column;
        width: 100%;
    }

    .nameLastname {
        width: 100%;
    }

    .contact-card {
        padding: 70px 10px;
    }
} 


/* --- 450px --- */

@media (max-width: 450px) {

    .fa-brands:not(a > i):not(li > i) {
        font-size: 3.3em;
    }

    .language-card {
        height: 150px;
        margin: 5px;
    }

}


/* --- 345px --- */

@media (max-width: 345px) {

    .contact-bar {
        justify-content: space-around;
        width: 100%;
    }

    .language-card {
        width: 60%;
    }

}