/* ----- PALETA DE COLORES FINAL ----- */

/* Modo CLARO */

/* Modo OSCURO */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ysabeau', sans-serif;
    color: #523030;
}

img {
    width: 400px;
}

ul {
    list-style-type: none;
}


/* ---------------------------------------- HEADER STRUCTURE --------------------------------- */

header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: #c9383024 0px 10px 6px -1px, #c9383043 0px 2px 4px -1px;
    position: fixed;
    top: 0;
}

.nav-container {
    display: flex;
    align-items: center;
    margin-right: 15%;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;

}

li {
    margin: 15px 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

.button-direct {
    background-color: #C93830;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.fa-bars {
    display: none;
}


/* --------------------------------- PRESENTATION STRUCTURE ------------------------- */

.presentation {
    background-color:  #FFF7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px;
    width: 100%;
    
    
}

.presentation-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    width: 80%;
}

.text-presentation {
    width: 500px;
}

h1 {
    margin: 0;
    font-size: 70px;
    font-weight: 900;
    color: #C93830;
}

h3 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
}

p {
    margin: 0;
}

.description-text {
    margin-bottom: 40px;
    font-size: 20px;
}

.image-presentation {
    width: 400px;
    display: flex;
    justify-content: center;
}


/* ----------------------------------- KNOWLEDGE STRUCTURE --------------------------- */

.knowledge-section {
    background-color: #f7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 130px 0;
}

h2 {
    font-size: 60px;
    font-weight: 900;
    
}

.section-description {
    text-align: center;
    font-size: 20px;
    margin: 50px 0;
}

.knowledge-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
}

.language-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 225px;
    margin: 10px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #f8cfcc ;
}

h4 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px
}

.fa-brands {
    font-size: 90px;
}

.fa-html5 {
    color: #E54D26;
}

.fa-css3-alt {
    color: #3D8FC6;
}

.fa-sass {
    color: #CC6699;
}

.fa-square-js {
    color: #F0DB4F
}

.fa-react {
    color: #61DAFB;
}

.fa-git-alt {
    color: #F34F29;
}




/* --------------------------- MOTIVATIONAL STRUCTURE ---------------------- */

.motivational-quote {
    text-align: center;
    background-color: #C93830;
    color: #f4f1f1;
    padding: 100px;
}

.motivational-quote > i {
    font-size: 50px;
    margin: 50px;
}

#luffy-quote {
    font-size: 20px;
    margin-bottom: 100px;
}


/* ------------------------------- PROJECTS STRUCTURE ------------------------ */

.projects-section {
    background-color: #FFF7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.projects-cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
}

.project-card {
    text-align: center;
    padding: 35px 50px;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(139, 64, 64, 0.121) 0px 4px 6px -1px, rgba(126, 91, 91, 0.132) 0px 2px 4px -1px;

    font-size: 20px;
}

.project-card > img {
    width: 100px;
}


/* ------------------------------- CONTACT STRUCTURE -------------------------- */

.contact-section {
    background-color:  #ffe3e3;
    display: flex;
    justify-content: center;
    padding: 100px;
    width: 100%;
}

.contact-card {
    border-radius: 15px;
    background-color: white;
    display: flex;
    padding: 70px;
}


/* -------------------------------- FOOTER STRUCTURE ---------------------------- */

footer {
    background-color: #C93830;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.contact-bar {
    display: flex;
}

.form-contact , .social-media {
    border: 1px solid black;
}




/* ---------------------- MEDIA RESPONSIVE -------------------- */


/* --- 1100px --- */

@media (max-width: 1100px) {

    .presentation {
        width: 100%;
    }
    
    .presentation-container {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .button-projects {
        display: flex;
        justify-content: center;
    }

    .image-presentation {
        margin-top: 40px;
    }

    .contact-card {
        flex-direction: column;
    }
}

/* --- 920px --- */

@media (max-width: 920px) {

    .knowledge-cards {
        width: 100%;
    }
}

/* --- 830px --- */

@media (max-width: 830px) {

    .nav-top {
        display: none;
    }

    .nav-container {
        margin-right: 10%;
    }

    .fa-bars {
        display: block;
        font-size: 2em;
    }
}

/* ---580px --- */

@media (max-width: 580px) {

    .knowledge-cards {
        padding: 10px;
    }

    .language-card {
        width: 45%;
    }

    .fa-brands {
        font-size: 4em;
    }

    .language-card {
        height: 180px;
        margin: 8px;
    }

    h4 {
        font-size: 18px;
    }
    
} 

/* --- 550px --- */

@media (max-width: 550px) {

    h1 {
        font-size: 50px;
    }

    .text-presentation {
        margin-bottom: 30px;
        width: 80%;
    }

    .image-presentation {
        width: 85%;
    }

    img {
        width: 80%;
    }

    h2 {
        font-size: 55px;
    }
    
    .nav-bot {
        display: flex;
        flex-direction: column;
    }
}



/* --- 450px --- */

@media (max-width: 450px) {

    .contact-card {
        padding: 10%;
    }

    .fa-brands {
        font-size: 3.3em;
    }

    .language-card {
        height: 150px;
        margin: 5px;
    }

}


/* --- 345px --- */

@media (max-width: 345px) {

    .contact-bar {
        justify-content: space-around;
        width: 100%;
    }

    .language-card {
        width: 60%;
    }

}